*{
    display: border-box;
    padding: 0;
    margin: 0;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    display: block;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.65;
    /* background-image: url('/images//Square-Checker-Website-Background.jpg'); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: top center; */
    background-color:#2b252c;
}
h2{
    font-size: 1.3rem;
    margin: 2px 2px;
    padding: 2px 2px;
}
@media(min-width:426px){
h2{
    font-size: 2rem;
    margin: 2px 2px;
    padding: 2px 2px;
}
}
h6{
    font-weight: 400;
}
p{
    font-weight: 300;
    font-size: .8rem;
    /* font-style: italic; */
    margin: 0.5rem auto;
    padding: 0 0 0.5rem 0;
    line-height: 1.5rem;
    max-width: 67%;
    text-align: justify;
}
@media(min-width:426px){
    p{
    font-weight: 300;
    font-size: 1rem;
    /* font-style: italic; */
    margin: 0 auto;
    padding: 2px 2px;
    line-height: 1.9rem;
    max-width: 95%;
    text-align: justify;
}
}
/* @media(min-width:769px){
    .layout-test{
        display: flex;
        flex-direction: row;
    }
} */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 50vh;
    /* max-width: 90%; */
    width: 90%;
    color: rgb(232, 232, 232);
    vertical-align: baseline;
    padding: 1rem 1rem;
}
/* Name and Role block */
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0 0; */
    width: 100%;
    min-height: 40vh;
    text-align: center;
    padding: 2rem 2rem;
}
.name{
    font-size: 2.5rem;
    margin: 2px 0px;
    letter-spacing: 2px;
    /* border-top: solid white 1px; */
}
.role{
    font-size: 1.5rem;
    font-weight: 400;  
    margin: 2px 0px 8px 0px;
    border-bottom: solid white 1px;

}
/* Projects content block */
.content{
    margin: 0 auto;
    background-color: rgb(232, 232, 232);
    color: black;
    width: 90%;
    padding: 1rem 1rem;
    text-align: center;
}

@media(min-width:426px){
    .row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 100%;
        padding: 1rem 1rem;
        margin: 1rem 2rem;
	    border-bottom: solid 1px #8a8a8a;
    }
   
}

/* 'My Projects' header */
#heading{
    font-size: 1rem;
    color:black;
    padding: 1rem 0 1rem 0;
}
#heading::before, #heading::after {
    content: '';
	display: inline-block;
    vertical-align: middle;
	/* position: absolute; */
	top: 50%;
	width: 25%;
	border-top: solid 1px #8a8a8a;
}
#heading::before{
    left: 0;
    margin-right: 10px;
}
#heading::after{
    right: 0;
    margin-left: 10px;

}

.projects-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 0 0 1rem 0;
    border-bottom: solid 1px black;
    max-width: 80%;
}


.project{
    padding: 1rem 2rem .5rem 2rem;
    text-align: center;
}
.project-header{
    font-size: 1rem;
    padding: 0 0 1rem 0
}
.button-container{
    margin: 0 auto;
    padding: 0 0 1rem 0;
    border-bottom: solid 1px black;
    max-width: 100%;
}
@media(min-width:426px){
    .project{
    width: 42%;
    }
    .button-container{
    padding: 1rem 0 1rem 0;
    border-bottom: none;
}
.project-header{
    font-size: 1.5rem;
    padding: 0 0 1rem 0
}
}


/* Project images */
/* .image-container{

} */
#flappy-bird, #snake, #breakout, #calculator, #hangman, #todo-list, #score-keeper{
    padding: 1px;
    margin: 0 auto;
    border: solid 1px  #8a8a8a;
    max-width: 49vw;
}
@media(min-width:426px){
 #flappy-bird, #snake, #breakout, #calculator, #hangman, #todo-list, #score-keeper{
    max-width: 31vw;
}   
}
.button{
    border: solid rgb(51, 51, 51) 1px;
    color: black;
    cursor: pointer;
    font-size: 0.5rem;
    font-weight: 900;
    letter-spacing: 0.05rem;
    height: 2rem;
    line-height: 1rem;
    padding: 0 1rem;
    margin: 0 0.2rem;
    text-transform: uppercase;
    outline: none;
    min-width: 35%;
}
.button::after{
    outline: none;
}
.button:hover{
    background-color:#cacaca ;
    font-weight: bold;
    outline: none;
}
/* Contact section icons */
.contact{
    display: flex;
    justify-content: flex-start;
}
.icons{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    /* border:1px solid black; */
    width: 50%;
}
.icon{
    max-width: 50%;
}
#github-image, #linkedin-image, #email-image{
    max-width: 50%;
    object-fit: cover;
    border-radius: 50%;
}
#github-image:hover, #linkedin-image:hover, #email-image:hover{
    cursor: pointer;
    background-color:#cacaca;
}
.contact-2{
    display: flex;
    justify-content: flex-start;
    background-color: rgb(232, 232, 232);
    width:40%;
    /* border-radius: ; */
}